<ion-view view-title="createUser" ng-controller="CreateUserCtrl">
  <div class="bar bar-header bar-light govie-header">
    <h1 class="title">Create user</h1>
  </div>
  <ion-content class="has-header govie-create-user-view">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <input type="text" ng-model="alias" tabindex="1" placeholder="Create an alias" autocorrect="off" autocapitalize="none">
        <i ng-class="notEmpty(alias)"></i>
      </label>
      <label class="item item-input item-stacked-label">
        <input type="text" ng-change="wipeErrors()" ng-model="username" tabindex="2" placeholder="Create a username" autocorrect="off" autocapitalize="none">
        <i ng-class="notEmpty(username)"></i>
      </label>
      <label class="item item-input item-stacked-label">
        <input type="password" ng-model="password" tabindex="3" placeholder="Create a password">
        <i ng-class="passwordApproved(password)"></i>
      </label>
      <ul ng-if="errors.length > 0" class="govie-errors">
        <li ng-repeat="error in errors">
          {{error}}
        </li>
      </ul>
      <div class="govie-licence">
        <label>I do accept the terms of agreement.</label>
      </div>
      <a class="item govie-round-button" tabindex="4"
         ng-if="passwordApproved(password) === 'ok' && notEmpty(alias) === 'ok' && notEmpty(username) === 'ok'"
         ng-click="createUser(alias, username, password)">Register</a>
    </div>
    <ion-content>
</ion-view>
