<ion-view hide-nav-bar="true" view-title="Profile">
  <div class="bar bar-header bar-light govie-header">
    <img src="img/govie_logga_vit.png">
  </div>
  <ion-content class="govie-large-header">
    <div class="govie-profile">
      <div class="govie-profile-img">
        <img src="{{profile.imgUrl}}">
      </div>
      <div class="govie-profile-info">
        <span ng-if="!follows(profile.username) && !isOwnProfile" ng-click="follow(profile.username)" class="follow"></span>
        <span ng-if="follows(profile.username) && !isOwnProfile" ng-click="unfollow(profile.username)" class="follows"></span>
        <span class="username">{{profile.username}}</span>
        <a class="ion-gear-a govie-gear" ng-if="isOwnProfile" href="#/tab/account"></a>
        <ul>
          <li>{{profile.movies}}<br><span>Movies</span></li>
          <li>{{profile.follows.length}}<br><span>Follows</span></li>
          <li>{{profile.followers.length}}<br><span>Followers</span></li>
        </ul>
      </div>
    </div>
    <hr class="bottomless-ruler">
    <div class="list">
      <div class="item item-thumbnail-left govie-list-item" ng-repeat="rate in ratings" href="#">
        <img src="{{rate.posterUrl}}" class="govie-poster-image">
        <div>
        <h2>{{rate.movie}} - </h2><h4>{{rate.relativeTime}}</h4>
        </div>
        <rating class="govie-small-rating" ng-model="rate.rate" max="5"></rating>
        <p>{{rate.note}}</p>
        <p><b>Gick med:</b> <i ng-repeat="friend in rate.friends">{{friend}}</i> </p>
      </div>
    </div>
  </ion-content>
</ion-view>
