<ion-view hide-nav-bar="true" view-title="Rate">
  <div class="bar bar-header bar-light govie-standard-header">
    <img src="../img/govie_hela_loggan_vit.png">
  </div>
  <ion-content class="govie-large-header govie-rate" align="center">
    <span>Biodags!</span>
    <br>
    <br>
    <label class="item item-input">
      <input type="text" placeholder="Vilken film?" ng-model="movie.title" ng-change="searchMovie()">
    </label>
    <ul ng-if="moviesHits.length > 0">
      <li ng-repeat="hit in moviesHits">
        <button class="item" ng-click="chooseMovie(hit.title)">{{hit.title}}</button>
      </li>
    </ul>
    <label class="item item-input">
      <input type="text" placeholder="Tagga personer i din biljett" ng-model="persons" ng-change="searchFriend()">
    </label>
    <label class="item item-input">
      <textarea placeholder="Skriv en notis..." rows="4" maxlength="30" ng-model="note"></textarea>
    </label>
    <br>
    <rating ng-model="rate" max="5"></rating>
    <br>
    <span>Ge betyg nu eller sen</span>
    <br>
    <a class="item govie-round-button">Govie</a>
  </ion-content>
</ion-view>
