*.keystore
*.sw*
platforms/
plugins/
app/bower_components/
node_modules/
.tmp/
.DS_Store
*.log
volumes/mongo/data/*
volumes/cassandra/data/*
volumes/elasticsearch/data/*
misc.xml
*.iml
modules.xml
.idea/
.idea/*