/* Empty. Add your own CSS if you like */
.govie-choose {
  background-color: #fc3159;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.govie-logo1 {
  width: 40%;
  margin: 30% 0% 0% 30%;
}

.govie-logo2 {
  width: 30%;
  margin: 5% 0% 30% 35%;
}

.govie-licence {
  width: 100%;
  text-align: center;
  margin: 5% 0% 0% 0%;
}

.govie-tab {
  background-color: #fc3159;
}

.govie-errors li {
  font-family: "Helvetica Neue";
  text-align: center;
  color: white !important;
  border-top: 1px solid white;
  background-color: #fc3159;;
  padding: 2% 2% 2% 2%;
}

a.govie-button {
  background-color: #fc3159;
  font-weight: bold;
  color: white;
  font-family: "Helvetica Neue";
  padding-left: 40%;
}

.govie-round-button {
  background-color: #fc3159;
  width: 40%;
  font-weight: bold;
  color: white !important;
  font-family: "Helvetica Neue";
  text-align: center;
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 7%
}

i.govie-login {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 0%;
  bottom: 15%;
  background-image: url("../img/govie_star_gul.png");
  background-repeat: no-repeat;
  background-size: contain;
}

i.govie-new {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 0%;
  bottom: 15%;
  background-repeat: no-repeat;
  background-image: url("../img/govie_logga_vit.png");
  background-size: contain;
}

.govie-splash {
  background-color: #fc3159;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.govie-logo-header {
  background-color: #fc3159 !important;
  height: 10%;
}

.govie-logo-header img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.govie-standard-header {
  background-color: #fc3159 !important;
  height: 10%;
}

.govie-standard-header img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.govie-header {
  background-color: #fc3159 !important;
  height: 15%;
}

.govie-normal-header {
  background-color: #fc3159 !important;
}

.govie-profile-info .follow {
  float: right;
  margin-top: -10%;
  margin-right: 5%;
  background-image: url("../img/govie_folj.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15%;
  height: 50px;
}

.govie-profile-info .follows {
  float: right;
  margin-top: -10%;
  margin-right: 5%;
  background-image: url("../img/govie_foljer.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15%;
  height: 50px;
}

.govie-normal-header .title {
  font-weight: bold;
  color: white !important;
  font-family: "Helvetica Neue";
}

.govie-header img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.govie-large-header {
  top: 15%
}

.govie-search-view{
  float: right;
  height: 50%;
  padding-top: 18%;
}

.govie-profile {
  float: right;
  height: 100%;
  width: 100%;
}

.govie-profile-img {
  width: 20%;
  float: left;
}

.govie-profile-info {
  width: 75%;
  float: right;
  margin-left: 5%;
  padding-top: 10%;
}

.govie-profile-info .username {
  font-weight: bold;
  color: #363636;
  font-family: "Helvetica Neue";
  font-size: 140%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.govie-profile-info ul {
  padding-top: 5%;
}

.govie-profile-info ul li {
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  color: #363636;
  font-family: "Helvetica Neue";
  font-size: 140%;
  width: 22%;

}

.govie-profile-info ul li span {
  font-weight: normal;
  font-family: "Helvetica Neue";
  font-size: 60% !important;
  color: #707070;
  height: 50px;
}

.govie-search-view button {
  font-weight: bold;
  font-family: "Helvetica Neue";
  width: 100%;
  background: url('../img/govie_logga.png');
  background-repeat: no-repeat;
  background-size: 7%;
  background-position-x: 5%;
  background-position-y: 50%;
}

.govie-search-view input {
  font-weight: normal;
  font-family: "Helvetica Neue";
  font-size: 115% !important;
  height: 50px;
}

.govie-search-view img {
  width: 100%;
}

.govie-profile-img img {
  width: 100%;
  padding: 10% 10% 40% 10%;
}

.govie-splash img {
  width: 30%;
  margin: 35%;
}

.govie-create-user-view i.ok {
  background: url('../img/govie_OK_gron.png');
  position: absolute;
  top: 15%;
  left: 90%;
  right: 0%;
  bottom: 15%;
  background-repeat: no-repeat;
  background-size: 40%;
}

.govie-create-user-view i.nok {
  background: url('../img/govie_NO_rod.png');
  position: absolute;
  top: 15%;
  left: 90%;
  right: 0%;
  bottom: 15%;
  background-repeat: no-repeat;
  background-size: 40%;
}

#input_container {
  position: relative;
  padding: 0;
  margin: 0;
  background: #ddd;
}

#input {
  height: 20px;
  margin: 0;
  padding-left: 30px;
}

#input_img {
  position: absolute;
  bottom: 8px;
  left: 10px;
  width: 10px;
  height: 10px;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  color: gray;
  font-size: 30px;
}
